<div layout-fill class="animated fadeIn">
    <div id="np-p-page-map-container-id" class="np-p-page-map-container" ng-mousedown="map.resetSelection($event)">
        <div class="np-p-page-map-tile-block-page-tiles" ng-if="map.currentPageCount === 0">
            <h2 class="np-p-page-map-tile-block-page-tiles-title">What do you want to add?</h2>
            <div class="np-p-add-page-tile-container" layout="row" layout-align="center" layout-wrap>
                <np-add-page-tile ng-repeat="floorplan in map.floorplans"
                                  id="add-page-card-{{::floorplan.floorplan}}"
                                  title="{{::floorplan.text}}"
                                  subtitle="from catalog {{::floorplan.catalogName}}"
                                  icon-class="{{::floorplan.iconClass}}"
                                  description="{{::floorplan.description}}"
                                  add-fn="map.createPage($event, floorplan)">
                </np-add-page-tile>
            </div>
        </div>
        <div id="np-p-page-map-layout" class="np-p-page-map-layout">
            <np-page-item class="animated fadeIn" ng-repeat="screen in map.connectedScreens track by screen.id"
                          highlight = "screen.highlight"
                          selected-item="map.selectedPage" item="screen" id="{{'np-p-screen-' + screen.name}}"
                          screen-image="{{map.artifactBaseUrl + screen.thumbnailUrl}}"
                          screen-name="{{screen.displayName}}" ng-mousedown="map.selectPage(screen, $event)"
                          ng-dblclick="map.goToComposerPage(screen.name)" is-home="{{screen.isHome}}"></np-page-item>
            <np-page-edge ng-repeat="connection in map.connections" highlight="connection.highlight" src-id="{{'np-p-screen-' + connection.pageFrom}}"
                          id="{{connection._id}}"
                          dest-id="{{'np-p-screen-' + connection.pageTo}}"></np-page-edge>
        </div>
        <div id="np-p-page-map-grid" class="np-p-page-map-grid">
            <np-page-item class="animated fadeIn" ng-repeat="screen in map.unconnected track by screen.id"
                          highlight = "screen.highlight"
                          selected-item="map.selectedPage" item="screen" id="{{'np-p-screen-' + screen.name}}"
                          screen-image="{{map.artifactBaseUrl + screen.thumbnailUrl}}"
                          screen-name="{{screen.displayName}}" ng-mousedown="map.selectPage(screen, $event)"
                          ng-dblclick="map.goToComposerPage(screen.name)" is-home="{{screen.isHome}}"></np-page-item>
        </div>
    </div>
    <ui-button size="large" class="np-p-page-map-add-page-btn"
               ui-popup-open="np-e-new-page-popup-page-map"
               ng-show="map.currentPageCount > 0">
        NEW PAGE
    </ui-button>
</div>

<ui-popup placement="bottom" id="np-e-new-page-popup-page-map" class="dm-add-panel" offset-x="-10" offset-y="10">
    <div ui-popup-close>
        <div ng-repeat="floorplan in map.floorplans" id="map-view-add-page-popup-{{::floorplan.floorplan}}" class="dm-add-panel-option" ng-click="map.createPage($event, floorplan)">
            <div class="popup-icon" ng-class="floorplan.iconClass ? 'prototype-assets--images--' + floorplan.iconClass : 'prototype-assets--images--page'"></div>
            <span>{{floorplan.text}}</span>
        </div>
    </div>
</ui-popup>
