<div class="dmd-mainContainer" ng-controller="DataModelDesignerCtrl as dataModelDesigner">


    <dmd-designer-layout ng-show="dataModelDesigner.model.entities.length !== 0"
                         class="dmd-main"
                         selected-item="dataModelDesigner.selectedEntity"
                         select-item="dataModelDesigner.selectEntity"
                         update-item="dataModelDesigner.renameEntity"
                         drag-item-stop="dataModelDesigner.dragEntityStop(item)"
                         remove-item="dataModelDesigner.removeEntity"
                         remove-navigation="dataModelDesigner.removeNavigation"
                         add-navigation="dataModelDesigner.addNavigation(newNavigationTarget)">
    </dmd-designer-layout>

    <div layout="row" ng-if="dataModelDesigner.model.entities.length === 0">
        <div flex class="heading">
            <ui-blank-state>
                <p>Need data for your prototype? Here's how:</p>
                <br/>
                Create objects <a href="javascript:;" class="ui-blank-state-action" ng-click="dataModelDesigner.addNewEntity()"> manually</a>
                <br/>
                Import objects from business catalogs using <a href='javascript:;' class="ui-blank-state-action" ng-click="dataModelDesigner.openSearch()">search</a>, or
                <br/>
                Import objects from an <a id="dmd-import-excel" class="ui-blank-state-action" href="javascript:;">Excel</a> file
                <ui-file-upload is-dialog="false"
                                dropzone-id="dmd-import-excel"
                                upload-button-id="dmd-import-excel"
                                success="dataModelDesigner.importSuccess(fileId)"
                                upload-url="{{dataModelDesigner.getImportUrl()}}"
                    >
                </ui-file-upload>
            </ui-blank-state>
        </div>
    </div>

</div>

